.asymmetrical-home-page-child {
  position: absolute;
  top: 57px;
  left: 0;
  width: 1280px;
  height: 775px;
  object-fit: cover;
  z-index: 0;
}
.clear,
.title {
  flex: 1;
  position: relative;
}
.title {
  line-height: 24px;
  display: inline-block;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.clear {
  align-self: stretch;
  letter-spacing: -0.3px;
  line-height: 16px;
}
.input,
.input-wrapper,
.text-button,
.text-button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-button {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  padding: 0 0 0 var(--padding-8xs);
}
.input,
.input-wrapper,
.text-button-wrapper {
  box-sizing: border-box;
}
.text-button-wrapper {
  height: 20px;
  width: 37px;
  flex-direction: column;
  padding: 4px 0 0;
  text-align: right;
  font-size: var(--font-size-sm);
  color: transparent;
}
.input,
.input-wrapper {
  max-width: 100%;
}
.input {
  align-self: stretch;
  border-radius: var(--br-9xs);
  overflow: visible;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: 7px;
}
.input-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.search {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 24px;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-gray-100);
  text-align: left;
  min-width: 63px;
  white-space: nowrap;
}
.search-bar,
.search-wrapper {
  overflow: visible;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.search-wrapper {
  cursor: pointer;
  border: 0;
  padding: 16px 35.5px;
  background-color: var(--color-gold-100);
}
.search-wrapper:hover {
  background-color: #e6c700;
}
.search-bar {
  position: absolute;
  top: 40%;
  left: 25px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(7px);
  border: 1px solid rgba(151, 156, 166, 0.53);
  box-sizing: border-box;
  width: 750px;
  z-index: 99;
  max-width: 100%;
  text-align: left;
}
.asymmetrical-home-page-item {
  position: absolute;
  top: 353px;
  left: 0;
  width: 100px;
  height: 100px;
  overflow: visible;
  display: none;
}
.explore-the-exciting,
.ski-resorts {
  margin: 0;
  position: absolute;
  left: 10%;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.explore-the-exciting {
  top: 181px;
  left: -28%;
  font-size: var(--font-size-5xl);
  font-weight: 800;
  font-family: inherit;
  color: rgba(246, 252, 255, 0.9);
  text-shadow: 0 4px 12.3px rgba(0, 0, 0, 0.25);
}
.ski-resorts {
  top: 223px;
  font-size: 96px;
  font-weight: 700;
  font-family: var(--font-asap-condensed);
  color: var(--color-white);
  width: 457px;
  height: 66px;
  text-shadow: 0 4px 35.5px rgba(26, 60, 67, 0.6);
}
.frame-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: visible;
  flex-shrink: 0;
}
.vector-wrapper {
  height: 13px;
  width: 121px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
}
.best-ski-resort {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 500;
  font-family: inherit;
  /* display: inline-block; */
  margin-top: -10%;
  justify-content: center;
  margin-right: 10%;
  min-width: 125px;
}
.frame-item {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: visible;
  flex-shrink: 0;
}
.frame-group,
.frame-parent,
.vector-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-container {
  height: 13px;
  width: 121px;
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
}
.frame-group,
.frame-parent {
  max-width: 100%;
}
.frame-group {
  width: 455px;
  border-radius: var(--br-5xs);
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-3xs);
}
.frame-parent {
  position: absolute;
  height: 100vh;
  top: 55px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(4px);
  /* width: 752px; */
  overflow: visible;
  flex-direction: column;
  padding: 123px 57px 158px;
  box-sizing: border-box;
  gap: var(--gap-xl);
  z-index: 2;
  font-size: var(--font-size-xl);
  color: #0d5377;
}
.asymmetrical-home-page {
  width: 100%;
  height: 832px;
  position: relative;
  background-color: var(--color-white);
  overflow-y: visible;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-lg);
  color: #676767;
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1025px) {
  .ski-resorts {
    font-size: 48px;
    line-height: 14px;
  }
}
@media screen and (max-width: 750px) {
  .title {
    display: none;
  }
  .asymmetrical-home-page {
    height: auto;
    min-height: 832;
  }
}
@media screen and (max-width: 450px) {
  .explore-the-exciting {
    font-size: 19px;
    line-height: 19px;
  }
  .ski-resorts {
    font-size: 29px;
    line-height: 10px;
  }
  .best-ski-resort {
    font-size: var(--font-size-base);
  }
}
