.filterByParent {
    height: 365px;
    gap: 6px;
}
.filterByParent,
.frame {
    width: 305px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.search {
    width: 53px;
    position: relative;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
}
.searchButton {
    width: 288px;
    border-radius: var(--br-9xs);
    background-color: var(--color-gold);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xs) 117px;
    box-sizing: border-box;
    text-align: center;
    color: var(--color-darkslategray);
}
.sortAndFilter {
    position: absolute;
    top: 75px;
    left: 23px;
    height: 675px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}
.cards,
.content {
    position: absolute;
}
.cards {
    top: 104px;
    left: 336px;
    width: 928px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    color: var(--color-dimgray);
}
.content {
    width: 100%;
    top: 57px;
    right: 0;
    left: 0;
    height: 775px;
    overflow-y: auto;
}
.search1 {
    position: relative;
    line-height: 24px;
    font-weight: 500;
}
.searchWrapper {
    position: absolute;
    top: 0;
    left: 816px;
    border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
    background-color: var(--color-gold);
    width: 112px;
    height: 41px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 9px;
    box-sizing: border-box;
}
.searchForSki {
    position: absolute;
    top: 8px;
    left: 9px;
    line-height: 24px;
    display: inline-block;
    width: 788px;
}
.frame19,
.frame20 {
    position: absolute;
    height: 41px;
}
.frame20 {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    box-sizing: border-box;
    color: #b2b2b2;
}
.frame19 {
    width: 72.5%;
    top: 73px;
    right: 1.25%;
    left: 26.25%;
    color: var(--color-darkslategray);
}
.resultsPageSingle1Col {
    width: 100%;
    position: relative;
    background-color: var(--white);
    height: 832px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--black);
    font-family: var(--body-1);
}
