.filterBy {
    width: 288px;
    line-height: 24px;
    font-weight: 600;
    display: inline-block;
}
.filterBy,
.icon,
.label {
    position: relative;
}
.label {
    line-height: 20px;
    font-weight: 500;
}
.icon {
    width: 18px;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
    opacity: 0.5;
}
.button {
    border-radius: var(--br-5xs);
    background-color: var(--hover);
    border: 1px solid var(--stroke);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-base);
    gap: var(--gap-5xs);
}
.rating {
    position: relative;
    line-height: 20px;
}
.filterDropdown,
.filterDropdownOptionItem,
.listOfItems {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.filterDropdownOptionItem {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-base);
}
.filterDropdown,
.listOfItems {
    border-radius: var(--br-5xs);
    flex-direction: column;
    gap: var(--gap-9xs);
}
.listOfItems {
    align-self: stretch;
    background-color: var(--black-white-white);
    border: 1px solid var(--stroke);
    padding: var(--padding-5xs) 0;
    color: var(--black);
}
.filterDropdown {
    width: 257px;
    color: var(--primary);
    font-family: var(--font-fira-sans);
}
.filterByParent {
    height: 365px;
    gap: var(--gap-7xs);
}
.filterByParent,
.frame {
    width: 305px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.search {
    width: 53px;
    position: relative;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
}
.searchButton {
    width: 288px;
    border-radius: var(--br-9xs);
    background-color: var(--color-gold);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xs) var(--padding-98xl);
    box-sizing: border-box;
    text-align: center;
    color: var(--color-darkslategray);
}
.sortAndFilter {
    position: absolute;
    top: 75px;
    left: 23px;
    height: 675px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}
.frameIcon {
    align-self: stretch;
    max-width: 100%;
    overflow: hidden;
    height: 224px;
    flex-shrink: 0;
    object-fit: cover;
}
.div,
.frame3 {
    position: absolute;
    top: calc(50% - 10px);
}
.div {
    width: 100%;
    left: 0;
    line-height: 20px;
    display: inline-block;
}
.frame3 {
    width: 8.88%;
    right: 56.25%;
    left: 34.87%;
    height: 20px;
}
.frameIcon1 {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.frameContainer {
    position: absolute;
    top: 6px;
    left: 0.3px;
    width: 103px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 4px;
}
.frame4 {
    position: absolute;
    width: 32.24%;
    top: calc(50% - 12px);
    right: 67.76%;
    left: 0;
    height: 24px;
}
.frame2 {
    width: 304px;
    position: relative;
    height: 24px;
}
.alpineDreamsResort {
    position: relative;
    line-height: 28px;
    font-weight: 600;
}
.frame5 {
    width: 303px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--font-size-lg);
    color: var(--color-gray-100);
}
.cards,
.content {
    position: absolute;
}
.cards {
    top: 104px;
    left: 336px;
    width: 928px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--gap-21xl);
    font-size: var(--font-size-sm);
    color: var(--color-dimgray-100);
}
.content {
    width: 100%;
    top: 57px;
    right: 0;
    left: 0;
    height: 775px;
    overflow-y: auto;
}
.search1 {
    position: relative;
    line-height: 24px;
    font-weight: 500;
}
.searchWrapper {
    position: absolute;
    top: 0;
    left: 816px;
    border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
    background-color: var(--color-gold);
    width: 112px;
    height: 41px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-4xs);
    box-sizing: border-box;
}
.searchForSki {
    position: absolute;
    top: 8px;
    left: 9px;
    line-height: 24px;
    display: inline-block;
    width: 788px;
}
.frame62,
.frame63 {
    position: absolute;
    height: 41px;
}
.frame63 {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border-radius: var(--br-7xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    color: var(--color-darkgray);
}
.frame62 {
    width: 72.5%;
    top: 73px;
    right: 1.25%;
    left: 26.25%;
    color: var(--color-darkslategray);
}
.resultsPageSingle3Col {
    width: 100%;
    position: relative;
    background-color: var(--black-white-white);
    height: 832px;
    overflow: hidden;
    text-align: left;
    font-size: var(--button-medium-size);
    color: var(--black);
    font-family: var(--body-1);
}
