.frame {
    width: 373px;
    background-color: #e5e7eb;
    height: 224px;
}
.frameIcon {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.frame2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0;
    gap: var(--gap-8xs);
}
.div {
    position: absolute;
    width: 100%;
    top: calc(50% - 10px);
    left: 0;
    line-height: 20px;
    display: inline-block;
}
.frame3 {
    width: 39px;
    position: relative;
    height: 20px;
}
.frame1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0;
    gap: var(--gap-xs);
}
.alpineDreamsResort {
    position: relative;
    line-height: 28px;
    font-weight: 600;
}
.frame4,
.frame5 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.frame4 {
    font-size: var(--font-size-lg);
    color: var(--color-gray-100);
}
.frame5 {
    font-size: var(--button-medium-size);
}
.tagLabel {
    position: relative;
    line-height: 16px;
    font-weight: 500;
}
.beginnerTag,
.ecoTag,
.parkingTag {
    border-radius: var(--br-9980xl);
    background-color: var(--color-cornflowerblue-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-9xs) var(--padding-xs);
}
.ecoTag,
.parkingTag {
    background-color: var(--color-mediumseagreen);
}
.parkingTag {
    background-color: var(--color-darkorange);
    padding: var(--padding-9xs) var(--padding-2xs);
}
.frame6,
.frameGroup {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame6 {
    width: 172px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 var(--padding-12xs);
    box-sizing: border-box;
    gap: var(--gap-4xs);
    font-size: var(--font-size-xs);
    color: var(--black-white-white);
}
.frameGroup {
    width: 245px;
    flex-direction: column;
    gap: var(--gap-5xs);
}
.viewDetails {
    position: relative;
    line-height: 24px;
}
.frame10,
.frameWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frame10 {
    align-self: stretch;
    border-radius: var(--br-9xs);
    background-color: var(--blue-500);
    justify-content: flex-start;
    padding: var(--padding-5xs) 0;
}
.frameWrapper {
    flex: 1;
    height: 192px;
    justify-content: flex-end;
    text-align: center;
    font-size: var(--button-medium-size);
    color: var(--black-white-white);
}
.frameParent,
.horizontalCard2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameParent {
    align-self: stretch;
    flex: 1;
    padding: var(--padding-base);
}
.horizontalCard2 {
    width: 924px;
    border-radius: var(--br-5xs);
    background-color: var(--black-white-white);
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1),
        0 0 0#000, 0 0 0#000;
    max-width: 100%;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-dimgray-100);
    font-family: var(--body-1);
}
