.frame,
.frameIcon {
    overflow: hidden;
    flex-shrink: 0;
}
.frame {
    align-self: stretch;
    background-color: var(--color-gray-200);
    height: 224px;
}
.frameIcon {
    width: 16px;
    position: relative;
    height: 16px;
}
.frame3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0;
    gap: var(--gap-8xs);
}
.div {
    position: absolute;
    width: 100%;
    top: calc(50% - 10px);
    left: 0;
    line-height: 20px;
    display: inline-block;
}
.frame4 {
    width: 39px;
    position: relative;
    height: 20px;
    display: flex;
    flex-direction: row;
    flex: 1;
}
.frame2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0;
    gap: var(--gap-xs);
}
.alpineDreamsResort {
    position: relative;
    line-height: 28px;
    font-weight: 600;
}
.frame5,
.frame6 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.frame5 {
    font-size: var(--font-size-lg);
    color: var(--color-gray-100);
}
.frame6 {
    font-size: var(--button-medium-size);
}
.tagLabel {
    position: relative;
    line-height: 16px;
    font-weight: 500;
}
.parkingTag,
.beginnerTag,
.ecoTag {
    border-radius: var(--br-9980xl);
    background-color: var(--color-cornflowerblue-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-9xs) var(--padding-xs);
}
.parkingTag,
.ecoTag {
    background-color: var(--color-mediumseagreen);
}
.parkingTag {
    background-color: var(--color-darkorange);
    padding: var(--padding-9xs) var(--padding-2xs);
}
.frame7,
.frameGroup {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
}
.frame7 {
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-12xs);
    gap: var(--gap-4xs);
    font-size: var(--font-size-xs);
    color: var(--black-white-white);
}
.frameGroup {
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-5xs);
}
.viewDetails {
    position: relative;
    line-height: 24px;
}
.frame11 {
    align-self: stretch;
    border-radius: var(--br-9xs);
    background-color: var(--blue-500);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: var(--padding-5xs) 0;
    text-align: center;
    font-size: var(--button-medium-size);
    color: var(--black-white-white);
    cursor: pointer;
}
.frameParent {
    align-self: stretch;
    gap: var(--gap-5xl);
}
.frame1,
.frameParent,
.resultCard2ColumnsameArra {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame1 {
    width: 444px;
    padding: var(--padding-base);
    box-sizing: border-box;
}
.resultCard2ColumnsameArra {
    border-radius: var(--br-5xs);
    background-color: var(--black-white-white);
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1),
        0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 0 0#000, 0 0 0#000;
    max-width: 100%;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-dimgray-100);
    font-family: var(--body-1);
}
