.frame {
  align-self: stretch;
  background-color: rgba(0, 0, 0, 0.25);
  height: 224px;
  overflow: hidden;
  flex-shrink: 0;
}
.div {
  display: flex;
  flex-direction: row;
  flex: 1;
  top: 0;
  line-height: 20px;
}
.frame2,
.starRatings {
  position: absolute;
  top: 4px;
  left: 0;
  width: 200px;
  height: 20px;
}
.starRatings {
  top: 0;
  left: 0;
  width: 133px;
  height: 24px;
  font-size: 14px;
}
.alpineDreamsResort {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28px;
  font-weight: 600;
}
.frame3 {
  position: absolute;
  top: 32px;
  left: 0;
  width: 303px;
  height: 28px;
  font-size: 18px;
  color: #1f2937;
}
.startingFrom299 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
}
.frame4 {
  position: absolute;
  top: 68px;
  left: 0;
  width: 303px;
  height: 24px;
}
.beginner {
  position: relative;
  line-height: 16px;
  font-weight: 500;
}
.frame6,
.frame7,
.frame8 {
  border-radius: var(--br-9980xl);
  background-color: #5379ce;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-xs);
}
.frame7,
.frame8 {
  background-color: #33a35c;
}
.frame8 {
  background-color: #ec8220;
  flex-wrap: wrap;
  padding: var(--padding-9xs) 11px;
}
.frame5,
.viewDetails {
  position: absolute;
  display: flex;
}
.frame5 {
  top: 100px;
  left: 0;
  width: 98px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
  font-size: var(--font-size-xs);
  color: #FFFFFF;
}
.viewDetails {
  top: 8px;
  left: 109px;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  width: 86px;
}
.frame9 {
  position: absolute;
  top: 125px;
  left: 588px;
  border-radius: 4px;
  background-color: #3b82f6;
  width: 304px;
  height: 64px;
  text-align: center;
  color: #FFFFFF;
}
.starRatingsParent {
  width: 892px;
  position: relative;
  height: 189px;
}
.frameInner {
  align-self: stretch;
  flex: 1;
}
.frame1,
.frameInner,
.resultCard1ColumndiffArra {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame1 {
  width: 924px;
  height: 221px;
  padding: 16px;
  box-sizing: border-box;
}
.resultCard1ColumndiffArra {
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 0 0#000, 0 0 0#000;
  max-width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
  font-family: var(--font-roboto);
}
