.placeholderIcon {
    width: 24px;
    position: relative;
    height: 24px;
}
.button1,
.button2 {
    border-radius: var(--br-81xl);
    box-shadow: var(--shadow-02);
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-5xl);
    gap: var(--gap-5xs);
}
.button1 {
    background-color: var(--blue-500);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--gray-50);
}
.button2 {
    border: 1px solid var(--blue-500);
    cursor: pointer;
}
.additionalFilters,
.button2,
.button3,
.ratingSlider {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.button3 {
    border-radius: var(--br-81xl);
    box-shadow: var(--shadow-02);
    border: 1px solid var(--blue-500);
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-5xl);
    gap: var(--gap-5xs);
}
.additionalFilters,
.ratingSlider {
    flex-direction: column;
    gap: var(--gap-3xs);
}
.additionalFilters {
    width: 287px;
    height: 485px;
    text-align: center;
    color: var(--blue-500);
    font-family: var(--button-medium);
}
.ratingSlider {
    width: 284px;
    height: 133px;
}
.ratingSliderWrapper {
    height: 664px;
}
.frame,
.ratingSliderWrapper {
    width: 287px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.search {
    width: 53px;
    position: relative;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
}
.searchButton {
    width: 288px;
    border-radius: var(--br-9xs);
    background-color: var(--color-gold);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xs) var(--padding-98xl);
    box-sizing: border-box;
    text-align: center;
    color: var(--color-darkslategray);
}
.fieldColorIcon {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    height: 40px;
}
.placeholderText {
    position: relative;
    line-height: 150%;
}
.cursor {
    width: 1px;
    position: relative;
    background-color: var(--gray-900);
    height: 17px;
    display: none;
}
.placeholderTextParent {
    position: absolute;
    top: 6px;
    left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.borderBottom {
    position: absolute;
    width: 100%;
    top: 39px;
    right: 0;
    left: 0;
    background-color: var(--blue-blue-a700);
    height: 1px;
}
.icArrowDropUp48pxIcon {
    position: absolute;
    top: calc(50% - 12px);
    right: 16px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.fieldColorParent {
    align-self: stretch;
    position: relative;
    height: 40px;
}
.label11 {
    position: relative;
    line-height: 24px;
    white-space: pre-wrap;
}
.comboBox,
.frameParent {
    align-items: flex-start;
    justify-content: flex-start;
}
.comboBox {
    align-self: stretch;
    background-color: var(--black-white-white);
    box-shadow: var(--google-material-elevation-6dp);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--padding-base) var(--padding-5xs);
    gap: var(--gap-9xs);
    text-align: center;
    color: var(--blue-500);
    font-family: var(--button-medium);
}
.frameParent {
    width: 305px;
    display: none;
    flex-direction: column;
}
.dropdownStyle2expandfocuse,
.sortAndFilter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.dropdownStyle2expandfocuse {
    width: 305px;
    height: 172px;
    align-items: flex-start;
    color: var(--gray-900);
}
.sortAndFilter {
    position: absolute;
    top: 75px;
    left: 23px;
    width: 288px;
    height: 675px;
    align-items: center;
    gap: var(--gap-3xs);
}
.cards,
.content {
    position: absolute;
}
.cards {
    top: 104px;
    left: 336px;
    width: 928px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-21xl);
    font-size: var(--font-size-sm);
    color: var(--color-dimgray-100);
}
.content {
    width: 100%;
    top: 57px;
    right: 0;
    left: 0;
    height: 775px;
    overflow-y: auto;
}
.search1 {
    position: relative;
    line-height: 24px;
    font-weight: 500;
}
.searchWrapper {
    position: absolute;
    top: 0;
    left: 816px;
    border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
    background-color: var(--color-gold);
    width: 112px;
    height: 41px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-4xs);
    box-sizing: border-box;
}
.searchForSki {
    position: absolute;
    top: 8px;
    left: 9px;
    line-height: 24px;
    display: inline-block;
    width: 788px;
}
.frame55,
.frame56 {
    position: absolute;
    height: 41px;
}
.frame56 {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border-radius: var(--br-7xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    color: var(--color-darkgray);
}
.frame55 {
    width: 72.5%;
    top: 73px;
    right: 1.25%;
    left: 26.25%;
    color: var(--color-darkslategray);
}

.resultsPageSingle2Col {
    width: 100%;
    position: relative;
    background-color: var(--black-white-white);
    height: 832px;
    overflow: hidden;
    text-align: left;
    font-size: var(--button-medium-size);
    color: var(--black);
    font-family: var(--body-1);
}
