/* Clear.module.css */

.clear {
    flex: 1;
    position: relative;
    line-height: 16px;
    align-self: stretch;
    letter-spacing: -0.3px;
}

/* Title.module.css */

.title {
    flex-grow: 1;
    margin: 0;
    border: none;
    position: relative;
    line-height: 32px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 248px;
    max-width: 100%;
}

/* TextButton.module.css */

.textButton {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    flex-direction: row;
    padding: 0 0 0 var(--padding-8xs);
}

/* TextButtonWrapper.module.css */

.textButtonWrapper {
    display: flex;
    flex-direction: column;
    width: 37px;
    padding: var(--padding-9xs) 0 0;
    text-align: right;
    font-size: var(--font-size-sm);
    color: transparent;
}

/* Search.module.css */

.search {
    position: relative;
    font-size: var(--font-size-xl);
    line-height: 24px;
    display: inline-block;
    font-family: var(--font-roboto);
    color: var(--color-gray-100);
    text-align: left;
    min-width: 63px;
}

/* DetailsContainer.module.css */

.detailsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor: pointer;
    border: 0;
    padding: var(--padding-base) var(--padding-16xl-5);
    background-color: var(--color-gold-100);
    overflow: hidden;
    justify-content: flex-start;
}

.detailsContainer:hover {
    background-color: var(--color-gold-200);
}

/* FavoriteborderShape.module.css */

.favoriteborderShape {
    align-self: stretch;
    max-width: 100%;
    padding: 0 var(--padding-xl) var(--padding-sm);
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-dimgray);
    font-family: var(--font-roboto);
}

/* SearchBar.module.css */

.searchBar {
    width: 60%; /* Adjusted for a thinner search bar */
    margin: auto; /* Centered horizontally */
    border-radius: var(--br-7xs);
    background-color: var(--color-gray-200);
    backdrop-filter: blur(7px);
    border: 1px solid var(--color-darkgray-200);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-shrink: 0;
}

/* InputWrapper.module.css */

.inputWrapper {
    flex: 1;
    padding: var(--padding-7xs) 0 0; /* Reduced top padding for a thinner bar */
    min-width: 400px;
}

/* Input.module.css */

.input {
    display: flex;
    align-items: center;
    flex-grow: 1;
    align-self: center; /* Center vertically in the search bar */
    border-radius: var(--br-9xs);
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-xs); /* Reduced padding for a thinner bar */
    gap: var(--gap-6xs);
    max-width: 100%;
}
