.label {
    position: relative;
    line-height: 24px;
}

.button1 {
    position: relative;
    border-radius: 100px;
    background-color: #3b82f6;
    box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04),
        0px 2px 4px rgba(52, 60, 68, 0.16);
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 32px;
    box-sizing: border-box;
    gap: 8px;
    text-align: center;
    font-size: 16px;
    color: #f9fafb;
    cursor: pointer;
}

.button1:hover {
    border: 1px solid #3b82f6;
    color: #3b82f6;
    background-color: #f9fafb;
    /* background-color: #2563eb; */
}

.button2 {
    position: relative;
    border-radius: 100px;
    box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.04),
        0px 2px 4px rgba(52, 60, 68, 0.16);
    border: 1px solid #3b82f6;
    box-sizing: border-box;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 32px;
    gap: 8px;
    text-align: center;
    font-size: 16px;
    color: #3b82f6;
    cursor: pointer;
}

.button2:hover {
    color: #f9fafb;
    background-color: #3b82f6;
}

/* Add hover styles for the icon container */
.button1:hover .icon {
    color: #3b82f6; /* Change to your desired color */
}

.button2:hover .icon {
    color: #f9fafb; /* Change to your desired color */
}
