@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-fira-sans: "Fira Sans";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-lg: 18px;

  /* Colors */
  --white: #fff;
  --color-mediumslateblue: #6366f1;
  --color-whitesmoke: #f1f1f1;
  --color-gold: #ffdf00;
  --color-darkslategray: #333;
  --color-dodgerblue: #3b82f6;
  --color-darkorange: #ec8220;
  --color-mediumseagreen: #33a35c;
  --color-cornflowerblue: #5379ce;
  --color-dimgray: #4b5563;
  --color-gray-100: #1f2937;
  --primary: #1f1f20;
  --stroke: rgba(0, 0, 0, 0.1);
  --black: #000;
  --hover: #f5f4fb;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-3xs: 10px;
  --gap-4xs: 9px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-11xs: 2px;
  --padding-base: 16px;
  --padding-9xs: 4px;
  --padding-2xs: 11px;
  --padding-xs: 12px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-9980xl: 9999px;
}
